<section class="todoapp">
  <section class="header">
    <h1>todos</h1>
    <header class="header-input">
      <todo-text-input
        placeholder="What needed to get done?"
        on-save="$ctrl.onSave(task)">
      </todo-text-input>
    </header>
  </section>
  <section class="main">
    <todo-batch-toggle on-toggle="$ctrl.onToggleAll()" todos="$ctrl.todos.list" ng-if="$ctrl.todos.hasTasks()"></todo-batch-toggle>
    <div class="todo-list">
      <todo-item todo="todo" ng-repeat="todo in $ctrl.todos.filteredList"></todo-item>
    </div>
  </section>
  <todo-footer ng-if="$ctrl.todos.hasTasks()" todos="$ctrl.todos">
    <todo-list-filter on-filter="$ctrl.onFilter(state)" filter-state="$ctrl.todos.filterState"></todo-list-filter>
  </todo-footer>
</section>
<section class="counterapp">
    <h1>Random Counter</h1>
    <section>
      <h4> Angular Stars: {{ $ctrl.count }}</h4>
    </section>
</section>